body{
    background-color: teal
}

.uk-button {
    display: inline-block;
    justify-content: center;
    margin: auto;
    width: 25%;
    border: 3px solid green;
    padding: 10px;
}

.uk-heading-divider {
    align-items: center;
    background-color: white;
    text-align: center;
    color: lightseagreen

}

.uuk-search uk-search-navbar{
    border-bottom: mediumaquamarine;
}

nav {
    align-items: left;
}

.uk-heading-divider {
    align-content: left;
    
  }

  img {
      height: max-content;
    }

  .uk-button-default {
      background-color: linen;
      outline-style: groove;
      padding-bottom: 1px;
  }

  .ui-state-disabled {
    background-color: linen;
    color: black;
}